/* Header Css Start */

h1{
    font-size: 50px;
    font-weight: 800;
    color: rgb(87,87,87);
}

h2{
    font-size: 30px;
    font-weight: 800;
    color: rgb(112,112,112);
}

h3{
    font-size: 30px;
    font-weight: 800;
}

body{
    font-family: 'Open Sans', sans-serif;
   margin: 0;
}

.span_add{
    color: rgb(251,140,71);
}

h4{
    color: rgb(194,194,194);
    font-size: 20px;
    padding-bottom: 15px;
}

.half_part{
    width: 50%;
    padding-left: 40px;
   
}

.container{
    display: flex;
    margin: 80px 0;
}



.half_part img{
    width: 80%;
}

.link_btn{
    text-decoration: none;
    padding: 20px 50px;
    background-image: linear-gradient(rgb(252,143,73),rgb(254,81,49));
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: #fff;
    font-weight: 700;
}

/* Header Css End */

/* About Css Start */


.about_part{
    background-image: url(../images/shapes/7.png);
    background-repeat: no-repeat;
}

.about_img{
    width: 40%;
    padding-left: 100px;
   
}

.about_middle{
   width: 10%;
}

.about_img img{
    width: 80%;
}

.about_item{
    width: 50%;
    padding: 70px;
    
}

.about_item p{
    font-size: 20px;
    padding:20px 0 50px 0;
}

/* About Css End */

/* Recipie Part Css Start */

.recipie_item{
    text-align: center;
    margin: auto;
    padding:0 28%;
}
 .recipie_img{
   width: 25%;
   display: inline-block;
   border: 2px solid #fff;
   margin: 0 30px;
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   box-shadow: 10px 15px 40px gray;
  
}

.recipie_img p,h3,img{
    padding:10px 10%;
}

.recipie_img img{
    width: 80%;
    margin: auto;
} 

.recipie_content{
    padding-left: 9%;
    padding-bottom: 100px;
}

/* Recipie Part Css End */


.recipie_part_1{
    background-image: url(../images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}

.recipie_img_1{
    width: 40%;
    padding-left: 100px;
    padding-top: 75px;
   
}

.recipie_middle_1{
   width: 10%;
}

.recipie_img_1 img{
    width: 80%;

}

.recipie_item_1{
    width: 50%;
    padding: 70px;
    
}

.recipie_item_1 p{
    font-size: 20px;
    padding:20px 0 50px 0;
}

/* Counter Part Start */

.counter_up{
    width: 800px;
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 10px 15px 40px gray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: auto;
    margin-bottom: 200px;
    
}

.counter_items{
    text-align: center;
    padding-left: 90px;
    
}

/* Counter Part End */

/* Footer Part Start */

.footer_part{
    text-align: center;
     background: black;
     color: #fff;
     padding-top: 20px;
     padding-bottom:80px;
     font-weight: 400;
 }

 /* Footer Part End */